#imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    gap: 10px;
}

#imagen_automovil {
    margin: 2%;
    width: 50%;
}

#comentario {
    color: yellow;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}