/* Características globales */

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}

button {
    padding: 1%;
    border: 0;
    background-color: #5f3;
    border-radius: 15px;
    font-size: 1rem;
}

select {
    border: 0;
    border-radius: 5px;
    margin: .1rem;
    font-size: 1rem;
    background-color: #000;
    color: white;
}

img {
    border-radius: 15px;
}


/* ------------------- Parte 1 ----------------- */

#parte1 {
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenido-parte1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
    gap: 10px;
}

#imagen_automovil {
    margin: 2%;
    width: 62%;
}

#comentario {
    width: 25%;
    background-color: red;
    color: yellow;
    padding: 1%;
    border-radius: 15px;
    font-size: 1.3rem;
}


/* -------------------- Parte 2 ------------------------------ */

#parte2 {
    background-color: cornflowerblue;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
}

#galeria {
    margin-top: 5%;
    padding: 1%;
    /* background-color: gray; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#img1 {
    width: 80%;
}

#img2 {
    width: 96%;
}

#img3 {
    width: 80%;
}

#img1, #img2, #img3 {
    object-fit: cover;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#aviso {
    background-color: #00f;
    border-radius: 15px;
    color: white;
    font-size: 1.2rem;
}



/* -------------------- Parte 3 ------------------------ */

#parte3 {
    padding: 2%;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#selectores {
    display: flex;
    justify-content: center;
}

#mensaje {
    /* background-color: #02f; */
    color: white;
    border-radius: 15px;
}