/* ------------------- Parte 1 ----------------- */


#imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    gap: 10px;
}

#imagen_automovil {
    margin: 2%;
    width: 50%;
}

#comentario {
    color: yellow;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* -------------------- Parte 2 ------------------------------ */

#parte2 {
    background-color: cornflowerblue;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
}

#galeria {
    margin-top: 5%;
    padding: 1%;
    /* background-color: gray; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#img1, #img2, #img3 {
    width: 100%;
    object-fit: cover;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}